html {
    font-size:15px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
h1{
    font-size:50px;
    text-align: left;
    color:greenyellow;
}
p,li{
    font-size: 20px;
    line-height: 2;
    letter-spacing: 2px;
    color: white;
}
html{
    background-color: rgb(0, 0, 0);
}

object,table{
    margin:0 auto;
}